<div class="register-page">
  <div class="register-container">
    <div class="form-header">
      <h1>Register</h1>
    </div>
    <div class="form-group">
      <form action="">
        <div>
          <label for="email">Email</label>
          <input type="email" id="email"/>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password"/>
        </div>
        <div>
          <label for="confirm_password">Confirm Password</label>
          <input type="password" id="confirm_password"/>
        </div>
      </form>
    </div>
    <div>
      <button type="button" class="btn btn-primary">Register</button>
    </div>
    <div class="form-footer">
      <a routerLink="/login">Ja tem uma Conta?</a>
    </div>
  </div>
</div>
